@font-face {
	font-family: ImpactTTF;
	src: url('impact.ttf') format('truetype');
}

.app-root {
	display: flex;
	flex-flow: column;
	height: 100vh;
	width: 100vw;
}

.app-title {
	position: fixed;
	display: block;
	width: 100vw;
	background-color: #ffd54f;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', ImpactTTF, sans-serif;
	text-align: center;
	font-size: 30px;
	border-bottom: 1px solid #d3d3d3;
}

.app-area {
	margin-top: 45px;
	margin-bottom: 84px;
	padding-left: 10px;
	padding-right: 10px;
}
