#navbar-row {
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
}

.navbar-option {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #000;
	text-decoration: none;
	font-weight: 700;
}

.inactive {
	color: #808080;
	font-weight: 400;
}

.navbar-option:hover {
	color: #000;
	text-decoration: none;
}

i.navbar-option-icon {
	font-size: 35px;
}

.navbar-option-text {
	font-size: 12px;
	font-weight: inherit;
}
